debug: true

# Spring Boot Configurations
#
spring:
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${app.db.username}
    password: ${app.db.password}
    url: jdbc:mysql://${app.db.host}:${app.db.port}/${app.db.catalog}?createDatabaseIfNotExist=true&useSSL=false&characterEncoding=utf-8
    hikari:
      connection-init-sql: SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci
  jpa:
    database: mysql
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true
        hbm2ddl:
          auto: update
    show-sql: true
  mvc:
    throw-exception-if-no-handler-found: false
logging:
  level:
    root: info
    web: debug
    com:
      laogu: debug
# Application Configurations
#
app:
  # Database
  db:
    host: codemonkey.top
    port: 13306
    username: root
    password: 1234+aaaa
    catalog: rainbow_game