debug: true

# SpringBoot configurations
#
spring:
  profiles:
    active: dev
    include: hsqldb
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${app.db.username}
    password: ${app.db.password}
    url: jdbc:mysql://${app.db.host}:${app.db.port}/${app.db.catalog}?createDatabaseIfNotExist=true&useSSL=false&characterEncoding=utf-8
    hikari:
      connection-init-sql: SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci
  jpa:
    database: mysql
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: false
        hbm2ddl:
          auto: update
    show-sql: false
  main:
    web-application-type: none
logging:
  level:
    root: info
    web: debug
    com:
      codedog: debug

# Application Configurations
#
app:
  debug: true
  excel:
    path: /data/excel
  # Database
  db:
    host: codemonkey.top
    port: 13306
    username: root
    password: 1234+aaaa
    catalog: rainbow_game
  # TCP Server properties
  tcp:
    enabled: true
    type: Socket
    websocket:
      path: /ws
      ssl-enabled: false
      max-frame-size: 40960
      max-content-len: 65536
    port: 5000
    message-protocol: protobuf
    keep-alive-timeout: 3m
    max-connections: 30000
    seq-check-enabled: false
    bad-request-threshold: 100
    boss-thread-name: tcp-boss
    bootstrap-thread-name: tcp-bootstrap
    worker-thread-pattern: tcp-%d
    slow-processing-threshold: 1000
    pumper-exec-thread-pattern: message-pumper
    pumper-wait-millis-on-idle: 300
    pumper-wait-millis-on-rejected: 300
    wait-termination-timeout: 5m
    session:
      max-pending-request-size: 10
      max-cache-response-size: 10
    executor:
      core-pool-size: 5
      max-pool-size: 50
      keep-alive-timeout: 60s
      queue-capacity: 100
      thread-pattern: biz-%d